* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 255, 255, 0.803);
}

.navbarContainer {
  display: flex;
  background-color: rgba(19, 6, 6, 0.739);
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
}
.heading {
  /* margin: 0.4rem; */
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.navbarContainer li {
  color: rgb(188, 166, 166);
}

.btnlist {
  display: flex;
  margin-left: 0.5rem;
}
.btnlist li {
  list-style: none;
  margin: 0.5rem 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.cardContainer {
  width: 22rem;
  height: auto;
  /* border: 1px solid darkgrey; */
  box-shadow: 0px 0px 9px 2px darkgray;
  margin: 1rem;
  background-color: white;
}
.cardImg {
  width: 100%;
  height: 14rem;
}

.cardInfo {
  padding: 10px;
}

.cardInfo h3 {
  text-align: center;
  margin: 5px;
}

.newsCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.readmorebtn {
  display: block;
  margin-left: 75%;
  background-color: white;

  border: 0;
  transition: all 0.3s ease-in-out;
  margin-top: 18px;
}
.readmorebtn:hover {
  font-size: 0.9rem;
  text-decoration: underline;
}
.readmorebtn-con {
  height: 1.5rem;
}
.readmorebtn a {
  text-decoration: none;
}

.nextPrevtbns {
  margin: 2rem 8rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgb(46, 97, 227);
  font-weight: bold;
  border-radius: 0.2rem;
  color: white;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.loading h1 {
  display: block;
  text-align: center;
}
